
.cache

.project

project/project/target/config-classes/$115b3170264b9cda0ea6.class

*.class

*.xml

*.properties

*.xsl

project/target/scala-2.9.2/sbt-0.12/cache/default-0afa1c/compile/copy-resources

project/target/scala-2.9.2/sbt-0.12/cache/default-0afa1c/global/update/inputs

project/target/scala-2.9.2/sbt-0.12/cache/default-0afa1c/global/update/output

project/target/streams/$global/ivy-configuration/$global/out

project/target/streams/$global/ivy-sbt/$global/out

project/target/streams/$global/compilers/$global/out

project/target/streams/$global/update/$global/out

project/target/streams/compile/compile-inputs/$global/out

project/target/streams/compile/defined-sbt-plugins/$global/out

project/target/streams/compile/copy-resources/$global/out

project/target/streams/compile/compile/$global/out

project/target/streams/compile/$global/$global/data

project/target/streams/$global/project-descriptors/$global/out

project/target/scala-2.9.2/sbt-0.12/cache/default-0afa1c/compile/inc_compile

*.css
