*.snapshot
*.orig
lib/*
!/.gitignore
.worksheet/*
bin/*
project/target/
project/project/
project/scala*/
target/*
.tags
graph-data/
log_messages.txt
references.nt
web-BerkStan.txt

web-BerkStan.txt.gz

web-split-*

.cache

.classpath

.project

.sbtconfig

.settings/org.scala-ide.sdt.core.prefs

*.class
