.pln {
color: #000
}
@media screen {.str {
color: #080
}
.kwd {
color: #008;
font-weight: bold
}
.com {
color: #800;
font-style: italic
}
.typ {
color: #606;
font-weight: bold
}
.lit {
color: #066
}
.pun,.opn,.clo {
color: #660
}
.tag {
color: #008;
font-weight: bold
}
.atn {
color: #606
}
.atv {
color: #080
}
.dec,.var {
color: #606
}
.fun {
color: red
}

}
@media print,projection {.str {
color: #060
}
.kwd {
color: #006;
font-weight: bold
}
.com {
color: #600;
font-style: italic
}
.typ {
color: #404;
font-weight: bold
}
.lit {
color: #044
}
.pun,.opn,.clo {
color: #440
}
.tag {
color: #006;
font-weight: bold
}
.atn {
color: #404
}
.atv {
color: #060
}

}
pre.prettyprint {
padding: 8px;
border: 0px solid rgb(230, 228, 228);
box-shadow: 5px 5px 8px rgb(136, 136, 136);
background: rgb(250, 250, 250)
}
ol.linenums {
margin-top: 0;
margin-bottom: 0;
font-family: monospace;
font-weight: lighter;
list-style-type: none;
margin-left: 0px
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
/*list-style-type: none*/
}
li.L1,li.L3,li.L5,li.L7,li.L9 {
background: #EEE
}