.nuget-badge code {
background-color: #202020;
border: 3px solid silver;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
color: #E2E2E2;
display: block;
font: normal normal normal 1em/normal 'andale mono', 'lucida console', monospace;
line-height: 1em;
overflow: auto;
padding: 10px;
}