body {
  color: #333;
  background: #F5F5F5;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizelegibility;
}

#title {
  position: fixed;
  width: 300px;
  height: 60px;
  top: 0px;
  left: 0px;
  background: #F5F5F5;
  z-index: 10;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

#title img {
  position: absolute;
  top: 5px;
  left: 5px;
}

#title #title_text {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 30px;
  font-weight: bold;
}
#title #title_subtext {
  position: absolute;
  right: 5px;
  top: 35px;
  font-size: 20px;
  font-weight: bold;
}

#top {
  position: fixed;
  height: 60px;
  left: 300px;
  right: 0px;
  top: 0px;
  background: #F5F5F5;
  z-index: 9;
  border-bottom: 1px solid #999;
  font-size: 25px;
  opacity: 0.8;
}

.msg {
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;
}


#left {
  position: fixed;
  width: 300px;
  top: 61px;
  left: 0px;
  bottom: 0px;
  background: #F5F5F5;
  z-index: 10;
  border-right: 1px solid #999;
  cursor: default;
}

#modes {
  position: absolute;
  top: 0px;
  height: 27px;
  width: 300px;
}

#modes span {
  height: 19px;
  display: none;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  font-weight: bold;
  font-size: 17px;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  border: 0;
  background-image: -moz-linear-gradient(top,
                    rgba(255,255,255,.25),
                    rgba(0,0,0,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,
                    color-stop(0, rgba(255,255,255,.25)),
                    color-stop(1, rgba(0,0,0,.11)));
  background-image: -webkit-linear-gradient(
                    rgba(255,255,255,.25),
                    rgba(0,0,0,.11));
  border-radius: 0;
  margin: 0;
}

#modes span.leftmost {
  border-left: 0;
  width: 140px;
}

#modes span:hover {
  color: #2c90c4;
}

#modes span.selected,
#modes span.selected:hover {
  background-color: #59b6e8;
  color: #555;
  text-shadow: 0 1px 0 #ddd;
  background-image: -moz-linear-gradient(top,
                    rgba(245,245,245,.9),
                    rgba(220,220,220,.3))
  background-image: -webkit-gradient(linear,left top,left bottom,
                    color-stop(0, rgba(245,245,245,.9)),
                    color-stop(1, rgba(255,255,255,.3)));
  background-image: -webkit-linear-gradient(
                    rgba(245,245,245,.9),
                    rgba(220,220,220,.3))
}

.panel {
  position: absolute;
  top: 27px;
  bottom: 38px;
  left: 0;
  right: 0;
}

.panel .panel_section {
  width: 100%;
}

.panel .panel_section .title {
  font-weight: bold;
  height: 21px;
  padding-top: 4px;
  font-size: 13px;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  background-image: -moz-linear-gradient(top,
                    rgba(245,245,245,1),
                    rgba(220,220,220,1));
  background-image: -webkit-gradient(linear,left top,left bottom,
                    color-stop(0, rgba(245,245,245,1)),
                    color-stop(1, rgba(220,220,220,1)));
  background-image: -webkit-linear-gradient(
                    rgba(245,245,245,1),
                    rgba(220,220,220,1));
}
.panel .panel_section .title:before {
  content: " . ";
  position: relative;
  top: -5px;
  width:0px; 
  height:0px; 
  margin-left: 5px;
  margin-right: 5px;
  border-bottom:6px solid transparent;
  border-top:6px solid transparent;
  border-left:8px solid #666;
  font-size:0px;
  line-height:0px;
}
.panel .panel_section .title.expanded:before {
  content: " . ";
  position: relative;
  top: -1px;
  width:0px; 
  height:0px; 
  margin-left: 3px;
  margin-right: 3px;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-top:8px solid #666;
  font-size:0px;
  line-height:0px;

}
.panel .panel_section .contents {
}

.panel input[type="radio"] {
  display:none;
}

.panel input[type="radio"] + label {
  position: relative;
  left: 5px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.panel input[type="radio"] + label:before {
  content: "○";
  margin-right: 5px;
  font-size: 20px;
}

.panel input[type="radio"]:checked + label {
  color: #2c90c4;
}
.panel input[type="radio"]:checked + label:before {
  content: "●";
  font-size: 20px;
}

#controls {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 38px;
  background-image: -moz-linear-gradient(top,
                    rgba(255,255,255,.25),
                    rgba(0,0,0,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,
                    color-stop(0, rgba(255,255,255,.25)),
                    color-stop(1, rgba(0,0,0,.11)));
  background-image: -webkit-linear-gradient(
                    rgba(255,255,255,.25),
                    rgba(0,0,0,.11));
}
#controls .icon {
  height: 32px;
  width: 32px;
  margin: 4px;
  float: left;
}

#controls .icon {
  background-image: url('sprites.svg');
}

#controls #reset.icon {
  background-position: 0px 0px; 
}
#controls #reset.icon:hover {
  background-position: 32px 0px; 
}
#controls #step.icon {
  background-position: 0px -32px; 
}
#controls #step.icon:hover {
  background-position: 32px -32px; 
}
#controls #pause.icon {
  background-position: 0px -96px; 
}
#controls #pause.icon:hover {
  background-position: 32px -96px; 
}
#controls #continue.icon {
  background-position: 0px -64px; 
}
#controls #continue.icon:hover {
  background-position: 32px -64px; 
}
#controls #terminate.icon {
  background-position: 0px -128px; 
  float:right;
}
#controls #terminate.icon:hover {
  background-position: 32px -128px; 
  float:right;
}

#content {
  position: fixed;
  top: 0px;
  left: 300px;
  right: 0px;
  bottom: 0px;
  z-index: 8;
}

.view {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.sectionLink { 
  color:blue; 
  text-decoration:underline; 
  padding:5px 0; 
  cursor:pointer;
}
.sectionLink.active { 
  color:black;
}

div.panel label { cursor:pointer; }

.structured {
/*   height: 100%; */
  width: 100%;
  padding-left: 20px;
}

.statistic {
  float: left;
  height: 300px;
  width: 460px;
  padding-top: 5px;
  padding-left: 10px;
  margin: 15px;
  background-color: #ddd;
  border-radius: 5px;
}

#graph_notready {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 600px;
  margin: -20px 0 0 -300px;
  z-index: 10;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #222;
  text-shadow: 0 1px 1px #777;
}

#graph_canvas {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #444;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  display: none;
  stroke: #999;
  stroke-opacity: .6;
}

.hidden {
  display: none;
}
.blocked {
  opacity: 0.5;
}
#error {
  color: #eee;
  background-color: #a91c00;
}
#error:before {
  content: "Error: "
}
#success {
  color: #eee;
  background-color: #00c742;
}
#success:before {
}

/* D3 charts */
.graphs { font-size:10px; float:left; }

/* color of horizontal helper lines */
.graphs .tick line { stroke:#BBB; stroke-dasharray: 2,3; }

.graphs .axis path,
.graphs .axis > line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:1;
}

.graphs .area {
/*   fill:none; */
  fill: lightblue;
}

.graphs path {
  stroke: steelblue;
  stroke-width: 1;
  fill: lightblue;
}

.graphs circle { fill:steelblue; }





/* line charts */
/* color of horizontal helper lines */
.tick line { stroke:#BBB; stroke-dasharray: 2,3; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.line.avg {
  stroke:black;
  stroke-width:3px;
}
.line.max {
  stroke:red;
}

rect { fill:white; cursor:move; }

circle.dot { fill:transparent; }

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 120px;                  
  height: 42px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;  
  z-index:999;       
}

.chartContainer > div { float:left; }

#crs_statistics ul      { padding:0; margin:0; }
#crs_statistics li      { clear:left; float:left; list-style:none; padding:5px 5px 5px 5px;
                          display:block; width:400px; height:20px; }
#crs_statistics li:nth-child(odd)  { background:#ddd; }
#crs_statistics li span { display:block; margin-left:150px; font-weight:bold; position:relative; top:-20px; text-align:right }
